html, body, h1,h2,h3,p,ul,li,a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

$blue: #032859;
$red-text: #c2231a;
$blue-text: #0b5ebd;
$light-blue-text: #deefff;
$dark-blue-text: #7abfff;
$yellow: #ffd535;

body{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1514' height='927' viewBox='0 0 1514 927' fill='none'%3E%3Crect width='1514' height='927' fill='white'/%3E%3Crect width='1514' height='927' fill='%23032858'/%3E%3Crect width='1514' height='927' fill='url(%23pattern0_606_9336)'/%3E%3Cdefs%3E%3Cpattern id='pattern0_606_9336' patternContentUnits='objectBoundingBox' width='0.01321' height='0.00809061'%3E%3Cuse xlink:href='%23image0_606_9336' transform='scale(0.000165125 0.000269687)'/%3E%3C/pattern%3E%3Cimage id='image0_606_9336' width='80' height='30' preserveAspectRatio='none' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAeCAYAAAC7Q5mxAAAAAXNSR0IArs4c6QAAAdZJREFUaEPlmj1yAyEMhaFJlTb3ySXiQzqXyH3SpkpjjzKjHYWBRU8ImV27sYflR/p4QsJ2fr/eXlPl9ZbSLzd/XvL2udb3Gdo+rrcX9vM7pe1zbgFsQX0mmARNwqoxgQDyBKTOM4PUgGMWJoBnBclh2lOdVOIQQJroLGpEVOcK8AxqtMIj34cVKHfjiGpEkmg1ibRKEMt5cLSQtsArRZI1NRwq8SMoEYG3548KIENGQK4K0dsHCCAKckWIWuVpbTcDJJiaeklriOYoGe2jVd/XJf9o1zIBPKISvZW33US0pPeytUaJyK6O2iTHI9WExcYhBSJK5G93ou/QM8L2303Ea7c1hkZD1NhE/luU5xbCZbisEs4R8P6ucl4KpHmQ82ZmdtbC87DBFSBvxqyM19tsLTjPK+cUgKxGTTh7OIMo32O9KUmkVAeiBnaK3pEsjYLzhud+BtZCDAXJc8gftcp5tcoux3mceeWc00JYLqQ9E3tn3MjzGfBCFIgU2yOA9saO1Hk9m0IU+CiIs1QXkkT2ds56LvbUIJ9HwAsN4VqWpjZrQmjBjALH64eGcMtpSznyCLXV7F8CYEud3E4qLcsapF5EQh/tm+WfZuTgVQxEHYroL5ndAbDgCOVOG/z9AAAAAElFTkSuQmCC'/%3E%3C/defs%3E%3C/svg%3E");
  font-family: 'Inkston';
}

.container{
  padding: 0;
  margin: 0 auto;
  max-width: 1286px;
  @media screen and (max-width: 1920px) {
    padding: 0 20px;
  }
}

.butt {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
  min-height: 100%;
  text-decoration: none;
}

#wpadminbar, .trp-floating-switcher {
  display: none !important;
}

@font-face {
  font-family: 'Lorem';
  src: url("../fonts/lorem/LoremIpsum.ttf");
  font-style: normal;
}

@font-face {
  font-family: 'Inkston';
  src: url("../fonts/Inkston/InkstonCasualBold.ttf");
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url("../fonts/inter/Inter_18pt-Medium.ttf");
  font-style: normal;
}