header {
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 6px 20px;
  z-index: 999;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 1280 64' fill='none'%3E%3Cpath d='M0 61V0H1280V64L1037.09 63L755.205 62L406.841 59L336.369 63L0 61Z' fill='%234794DC'/%3E%3Cpath d='M0 59V0H1280V60L953.5 64H903H755.205L406.841 57L336.369 63L0 59Z' fill='url(%23paint0_linear_1_13)'/%3E%3Cmask id='mask0_1_13' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='1280' height='64'%3E%3Cpath d='M0 59V0H1280V62L1036.1 64H755.205L406.841 57L336.369 63L0 59Z' fill='url(%23paint1_linear_1_13)'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_13)'%3E%3Cpath opacity='0.5' d='M1064 -18L1022.73 81L383 74.5327L417.707 -18H1064Z' fill='%23054392'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_13' x1='746.667' y1='-2.98024e-09' x2='746.693' y2='64.0044' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23054392'/%3E%3Cstop offset='1' stop-color='%23032858'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1_13' x1='746.667' y1='-2.98024e-09' x2='746.693' y2='64.0044' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23054392'/%3E%3Cstop offset='1' stop-color='%23032858'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

  .header__nav {
    display: flex;
    justify-content: space-between;

    &__logo {
      display: flex;
    }

    &__menu {
      display: flex;
      gap: 8px;
      align-items: center;

      &-login {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='218' height='84' viewBox='0 0 218 84' fill='none'%3E%3Cpath d='M46.9697 83H171.03C180.528 83 191.486 82.6582 199.819 79.2908C206.637 76.5357 209.335 69.7962 212.444 61C214.212 54.8265 217.394 40.745 218 21.8878C217.98 21.4685 217.965 21.0084 217.949 20.5161C217.826 16.8149 217.644 11.2914 214.969 7.57659C212.976 5.45205 209.115 3.63715 204.364 2.52557C197.211 1.08044 186.152 0.20475 174.061 0H43.9394C31.8476 0.20475 20.789 1.08044 13.6364 2.52557C8.8854 3.63715 5.02417 5.45205 3.03055 7.57659C0.355953 11.2914 0.173568 16.8142 0.0513382 20.5154C0.035071 21.008 0.0198692 21.4683 0 21.8878C0.606061 40.745 3.78788 54.8265 5.55556 61C8.66534 69.7962 11.3626 76.5357 18.1808 79.2908C26.5141 82.6582 37.4723 83 46.9697 83Z' fill='%234794DC'/%3E%3Cpath d='M46.9688 77C37.4727 77 26.5156 76.25 18.1797 73.25C11.3633 70.7949 9.16797 65.3359 6.05859 57.5C4.29297 52 0.605469 36.8008 0 20C0.605469 36.8008 4.29297 49 6.05859 54.5C9.16797 62.3359 11.3633 67.7949 18.1797 70.25C26.5156 73.25 37.4727 74 46.9688 74H171.031C180.527 74 191.484 73.25 199.82 70.25C206.637 67.7949 208.832 62.3359 211.941 54.5C213.707 49 217.395 36.8008 218 20C217.395 36.8008 213.707 52 211.941 57.5C208.832 65.3359 206.637 70.7949 199.82 73.25C191.484 76.25 180.527 77 171.031 77H46.9688Z' fill='%23DFF9FC'/%3E%3Cpath d='M49.9994 83.0001H46.9691C37.4717 83.0001 25.5051 81.9899 17.1717 78.5001C11.0156 75.9221 8.89345 69.8784 6.68063 63.5766C6.44265 62.8988 6.20355 62.2179 5.95835 61.5382C4.15315 55.3174 0.554281 39.9912 0.0555253 21.25C0.0334404 21.6165 0.0154716 21.9631 0 22.2859C1.13461 46.4509 3.38608 55.7606 5.30303 62.2501C5.47505 62.731 5.64269 63.2024 5.80701 63.6646L5.80785 63.6669C8.70376 71.8113 10.5701 77.0601 17.2171 79.7144C25.8029 83.143 37.0921 84.0001 46.8773 84.0001H48V84.0039H168.75V84.0001H171.123C180.908 84.0001 192.197 83.143 200.783 79.7144C207.43 77.0601 209.296 71.8113 212.192 63.6669L212.193 63.6646L212.193 63.6631C212.358 63.2014 212.525 62.7305 212.697 62.2501C214.614 55.7606 216.865 46.4509 218 22.2859C217.985 21.9631 217.967 21.6165 217.944 21.25C217.446 39.9912 213.847 55.3174 212.042 61.5382C211.797 62.217 211.558 62.8967 211.32 63.5735L211.319 63.5766C209.107 69.8784 206.984 75.9221 200.828 78.5001C192.495 81.9899 180.528 83.0001 171.031 83.0001H168.001V83.0039H49.9994V83.0001Z' fill='%235EE2F1'/%3E%3Cpath d='M46.9686 75H171.031C180.529 75 191.486 74.25 199.819 71.25C206.724 69.1989 208.947 63.4805 211.642 56.549C211.904 55.8767 212.169 55.1929 212.444 54.5C214.212 49 217.394 36.3 218 19.5C217.98 19.1263 217.965 18.7162 217.949 18.2774C217.826 14.9799 217.644 10.0596 214.969 6.75005C212.976 4.85729 209.115 3.24037 204.364 2.25005C197.211 0.962575 186.152 0.182414 174.061 0H43.9394C31.8476 0.182414 20.789 0.962575 13.6364 2.25005C8.8854 3.24037 5.02417 4.85729 3.03055 6.75005C0.355953 10.0596 0.173568 14.9799 0.0513382 18.2774C0.035071 18.7162 0.0198692 19.1263 0 19.5C0.606061 36.3 3.78788 49 5.55556 54.5C5.83052 55.1929 6.09635 55.8767 6.35774 56.549C9.05258 63.4805 11.2758 69.1989 18.1808 71.25C26.5141 74.25 37.4713 75 46.9686 75Z' fill='url(%23paint0_linear_85426_22800)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_85426_22800' x1='109' y1='0' x2='109' y2='75' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EFFCFE'/%3E%3Cstop offset='1' stop-color='%235EE2F1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        color: $blue-text;
        padding: 10px 20px 16px;
        font-size: 22px;
        text-transform: uppercase;
        line-height: 22px;
        text-decoration: none;
        transition: transform 0.2s ease;

        &:hover {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='218' height='84' viewBox='0 0 218 84' fill='none'%3E%3Cpath d='M46.9697 83H171.03C180.528 83 191.486 82.6582 199.819 79.2908C206.637 76.5357 209.335 69.7962 212.444 61C214.212 54.8265 217.394 40.745 218 21.8878C217.98 21.4685 217.965 21.0084 217.949 20.5161C217.826 16.8149 216.644 12.2914 213.969 8.57659C211.976 6.45205 209.115 5.63715 204.364 4.52557C197.211 3.08044 186.152 2.20475 174.061 2H43.9394C31.8476 2.20475 20.789 3.08044 13.6364 4.52557C8.8854 5.63715 6.02417 6.45205 4.03055 8.57659C1.35595 12.2914 0.173568 16.8142 0.0513382 20.5154C0.035071 21.008 0.0198692 21.4683 0 21.8878C0.606061 40.745 3.78788 54.8265 5.55556 61C8.66534 69.7962 11.3626 76.5357 18.1808 79.2908C26.5141 82.6582 37.4723 83 46.9697 83Z' fill='%234794DC'/%3E%3Cpath d='M49.9994 83.0001H46.9691C37.4717 83.0001 25.5051 81.9899 17.1717 78.5001C11.0156 75.9221 8.89345 69.8784 6.68063 63.5766C6.44265 62.8988 6.20355 62.2179 5.95835 61.5382C4.15315 55.3174 0.554281 39.9912 0.0555253 21.25C0.0334404 21.6165 0.0154716 21.9631 0 22.2859C1.13461 46.4509 3.38608 55.7606 5.30303 62.2501C5.47505 62.731 5.64269 63.2024 5.80701 63.6646L5.80785 63.6669C8.70376 71.8113 10.5701 77.0601 17.2171 79.7144C25.8029 83.143 37.0921 84.0001 46.8773 84.0001H48V84.0039H168.75V84.0001H171.123C180.908 84.0001 192.197 83.143 200.783 79.7144C207.43 77.0601 209.296 71.8113 212.192 63.6669L212.193 63.6646L212.193 63.6631C212.358 63.2014 212.525 62.7305 212.697 62.2501C214.614 55.7606 216.865 46.4509 218 22.2859C217.985 21.9631 217.967 21.6165 217.944 21.25C217.446 39.9912 213.847 55.3174 212.042 61.5382C211.797 62.217 211.558 62.8967 211.32 63.5735L211.319 63.5766C209.107 69.8784 206.984 75.9221 200.828 78.5001C192.495 81.9899 180.528 83.0001 171.031 83.0001H168.001V83.0039H49.9994V83.0001Z' fill='%235EE2F1'/%3E%3Cpath d='M46.9688 79C37.4727 79 26.5156 78.25 18.1797 75.25C11.3633 72.7949 9.16797 67.3359 6.05859 59.5C4.29297 54 0.605469 38.8008 0 22C0.605469 38.8008 4.29297 51 6.05859 56.5C9.16797 64.3359 11.3633 69.7949 18.1797 72.25C26.5156 75.25 37.4727 76 46.9688 76H171.031C180.527 76 191.484 75.25 199.82 72.25C206.637 69.7949 208.832 64.3359 211.941 56.5C213.707 51 217.395 38.8008 218 22C217.395 38.8008 213.707 54 211.941 59.5C208.832 67.3359 206.637 72.7949 199.82 75.25C191.484 78.25 180.527 79 171.031 79H46.9688Z' fill='%23DFF9FC'/%3E%3Cpath d='M46.9686 77H171.031C180.529 77 191.486 76.25 199.819 73.25C206.724 71.1989 208.947 65.4805 211.642 58.549C211.904 57.8767 212.169 57.1929 212.444 56.5C214.212 51 217.394 38.3 218 21.5C217.98 21.1263 217.965 20.7162 217.949 20.2774C217.826 16.9799 217.644 12.0596 214.969 8.75005C212.976 6.85729 209.115 5.24037 204.364 4.25005C197.211 2.96257 186.152 2.18241 174.061 2H43.9394C31.8476 2.18241 20.789 2.96257 13.6364 4.25005C8.8854 5.24037 5.02417 6.85729 3.03055 8.75005C0.355953 12.0596 0.173568 16.9799 0.0513382 20.2774C0.035071 20.7162 0.0198692 21.1263 0 21.5C0.606061 38.3 3.78788 51 5.55556 56.5C5.83052 57.1929 6.09635 57.8767 6.35774 58.549C9.05258 65.4805 11.2758 71.1989 18.1808 73.25C26.5141 76.25 37.4713 77 46.9686 77Z' fill='url(%23paint0_linear_85427_20784)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_85427_20784' x1='109' y1='2' x2='109' y2='77' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='0.4' stop-color='%23CFF6FB'/%3E%3Cstop offset='1' stop-color='%235EE2F1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
          text-decoration: none;
          transform: translateY(1px);
        }
      }
    }

    &-sidebar {
      background: none;
      border: none;
    }
  }
}

.search {
  background: $blue;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 13px;
  border-radius: 15px;
  width: 100%;
  min-width: 280px;
  border: 2px solid $blue;

  @media screen and (max-width: 1152px) {
    display: none;
    min-width: auto;
  }

  &:hover {
    background: $blue-text;
    transform: translateY(1px);
  }

  &__text {
    font-size: 16px;
    color: $dark-blue-text;
    width: 100%;
    max-width: 280px;
    font-family: 'inter';
  }

  &.mobile {
    display: none;
    @media screen and (max-width: 1152px) {
      text-align: left;
      display: flex;
    }
  }
}

.sidebar {
  width: 232px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(0.25turn, #054392, #032858);
  color: #fff;
  padding: 12px;
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 100;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @media screen and (max-width: 1152px) {
    width: 420px;
  }

  &.collapsed {
    width: 80px;

    .sidebar__menu__block-link span {
      display: none;
    }

    .trp-language-item {
      padding: 5px 5px 0 !important;
      &-name {
        display: none !important;
      }
    }

    .help-butt {
      padding: 7px 8px 0 !important;
      span {
        display: none !important;
      }
    }

    .sidebar__bottom {
      gap: 2px;
      width: 110%;
      margin: 0 0 -9px -10px;

      &-button {
        padding: 5px;
      }
    }
  }

  &__toggle {
    display: block;
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-align: right;
  }

  &__top {
    margin-top: 60px;
  }

  &__menu {
    margin: 0 0 14px;
    padding: 0;
    list-style: none;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='6' viewBox='0 0 208 6' fill='none'%3E%3Cg clip-path='url(%23clip0_598_9180)'%3E%3Cg clip-path='url(%23clip1_598_9180)'%3E%3Cpath d='M99.5547 3.61141L100.389 5.41906L104.802 5.85488L108.981 3.41251L102.948 0.384155L99.5547 3.61141Z' fill='%23ADDFF6'/%3E%3Cpath d='M99.5547 3.61141L99.7672 4.07161L103.117 1.67116L108.342 3.78496L108.98 3.41153L102.948 0.384155L99.5547 3.61141Z' fill='%23D6F2FF'/%3E%3Cpath d='M99.5547 3.61141L99.7672 4.07161L102.925 1.06666L108.342 3.78496L108.98 3.41153L102.948 0.384155L99.5547 3.61141Z' fill='%2365B1D7'/%3E%3C/g%3E%3Crect width='208' height='6' fill='url(%23paint0_linear_598_9180)'/%3E%3Crect width='208' height='6' fill='url(%23paint1_linear_598_9180)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_598_9180' x1='0' y1='3' x2='208' y2='3' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232B62A7'/%3E%3Cstop offset='1' stop-color='%232B62A7' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_598_9180' x1='0' y1='3' x2='208' y2='3' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232B62A7' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%232B62A7'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_598_9180'%3E%3Crect width='208' height='6' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1_598_9180'%3E%3Crect width='208' height='6' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      height: 6px;
      margin: 4px 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:last-child {
      margin: 0;
      &:after {
        content: none;
      }
    }

    &__block {
      margin: 0;

      &-link {
        display: flex;
        align-items: center;
        padding: 2px 20px;
        color: $light-blue-text;
        text-decoration: none;
        font-size: 16px;
        min-height: 44px;
        text-transform: uppercase;
        letter-spacing: .08em;
        position: relative;

        .content {
          transition: transform 0.2s ease;
          display: flex;
          align-items: center;
          gap: 12px;

          svg {
            width: 20px;
          }
        }

        &.active {
          color: $yellow;
          font-weight: bold;

          &:before {
            position: absolute;
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='16' viewBox='0 0 6 16' fill='none'%3E%3Cpath d='M5.892 8.40798C5.96256 8.28357 5.99965 8.143 5.99965 7.99998C5.99965 7.85696 5.96256 7.71638 5.892 7.59198L1.932 0.505978C1.452 -0.356022 0 -0.0500224 0 0.913978V15.086C0 16.049 1.451 16.356 1.932 15.494L5.892 8.40798Z' fill='%23FFD535'/%3E%3C/svg%3E");
            width: 100%;
            height: 16px;
            background-repeat: no-repeat;
            margin-left: -20px;
          }

          svg {
            fill: $yellow;
          }
        }

        &:hover {
          color: $yellow;
          text-decoration: none;

          .content {
            transform: translateX(2px);
          }

          &:before {
            position: absolute;
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='16' viewBox='0 0 6 16' fill='none'%3E%3Cpath d='M5.892 8.40798C5.96256 8.28357 5.99965 8.143 5.99965 7.99998C5.99965 7.85696 5.96256 7.71638 5.892 7.59198L1.932 0.505978C1.452 -0.356022 0 -0.0500224 0 0.913978V15.086C0 16.049 1.451 16.356 1.932 15.494L5.892 8.40798Z' fill='%23FFD535'/%3E%3C/svg%3E");
            width: 100%;
            height: 16px;
            background-repeat: no-repeat;
            margin-left: -20px;
          }

          svg {
            fill: $yellow;
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 107%;
    margin: 0 0 -8px -7px;

    @media screen and (max-width: 1152px) {
      width: 105%;
      margin: 0 0 -8px -8px;
    }

    &-button {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='218' height='85' viewBox='0 0 218 85' fill='none'%3E%3Cpath d='M46.9697 83.5039H171.03C180.528 83.5039 191.486 83.1621 199.819 79.7947C206.637 77.0396 209.335 70.3002 212.444 61.5039C214.212 55.3304 217.394 41.2489 218 22.3917C217.98 21.9724 217.965 21.5123 217.949 21.02C217.826 17.3188 217.644 11.7953 214.969 8.08049C212.976 5.95596 209.115 4.14106 204.364 3.02947C197.211 1.58435 186.152 0.708657 174.061 0.503906H43.9394C31.8476 0.708657 20.789 1.58435 13.6364 3.02947C8.8854 4.14106 5.02417 5.95596 3.03055 8.08049C0.355953 11.7953 0.173568 17.3181 0.0513382 21.0193C0.035071 21.5119 0.0198692 21.9722 0 22.3917C0.606061 41.2489 3.78788 55.3304 5.55556 61.5039C8.66534 70.3002 11.3626 77.0396 18.1808 79.7947C26.5141 83.1621 37.4723 83.5039 46.9697 83.5039Z' fill='%234794DC'/%3E%3Cpath d='M46.9688 77.5039C37.4727 77.5039 26.5156 76.7539 18.1797 73.7539C11.3633 71.2988 9.16797 65.8398 6.05859 58.0039C4.29297 52.5039 0.605469 37.3047 0 20.5039C0.605469 37.3047 4.29297 49.5039 6.05859 55.0039C9.16797 62.8398 11.3633 68.2988 18.1797 70.7539C26.5156 73.7539 37.4727 74.5039 46.9688 74.5039H171.031C180.527 74.5039 191.484 73.7539 199.82 70.7539C206.637 68.2988 208.832 62.8398 211.941 55.0039C213.707 49.5039 217.395 37.3047 218 20.5039C217.395 37.3047 213.707 52.5039 211.941 58.0039C208.832 65.8398 206.637 71.2988 199.82 73.7539C191.484 76.7539 180.527 77.5039 171.031 77.5039H46.9688Z' fill='%237ABFFF'/%3E%3Cpath d='M49.9994 83.5041H46.9691C37.4717 83.5041 25.5051 82.4938 17.1717 79.0041C11.0156 76.426 8.89345 70.3823 6.68063 64.0805C6.44265 63.4028 6.20355 62.7218 5.95835 62.0421C4.15315 55.8213 0.554281 40.4951 0.0555253 21.7539C0.0334404 22.1204 0.0154716 22.467 0 22.7898C1.13461 46.9548 3.38608 56.2645 5.30303 62.754C5.47505 63.2349 5.64269 63.7063 5.80701 64.1685L5.80785 64.1708C8.70376 72.3152 10.5701 77.564 17.2171 80.2183C25.8029 83.6469 37.0921 84.504 46.8773 84.504H48V84.5078H168.75V84.504H171.123C180.908 84.504 192.197 83.6469 200.783 80.2183C207.43 77.564 209.296 72.3152 212.192 64.1708L212.193 64.1685L212.193 64.167C212.358 63.7053 212.525 63.2344 212.697 62.754C214.614 56.2645 216.865 46.9548 218 22.7898C217.985 22.467 217.967 22.1204 217.944 21.7539C217.446 40.4951 213.847 55.8213 212.042 62.0421C211.797 62.7209 211.558 63.4006 211.32 64.0774L211.319 64.0805C209.107 70.3823 206.984 76.426 200.828 79.0041C192.495 82.4938 180.528 83.5041 171.031 83.5041H168.001V83.5078H49.9994V83.5041Z' fill='%23032858'/%3E%3Cpath d='M46.9686 75.5039H171.031C180.529 75.5039 191.486 74.7539 199.819 71.7539C206.724 69.7029 208.947 63.9844 211.642 57.0529C211.904 56.3806 212.169 55.6968 212.444 55.0039C214.212 49.5039 217.394 36.804 218 20.004C217.98 19.6302 217.965 19.2201 217.949 18.7813C217.826 15.4838 217.644 10.5635 214.969 7.25396C212.976 5.36119 209.115 3.74428 204.364 2.75396C197.211 1.46648 186.152 0.68632 174.061 0.503906H43.9394C31.8476 0.68632 20.789 1.46648 13.6364 2.75396C8.8854 3.74428 5.02417 5.36119 3.03055 7.25396C0.355953 10.5635 0.173568 15.4838 0.0513382 18.7813C0.035071 19.2201 0.0198692 19.6302 0 20.004C0.606061 36.804 3.78788 49.5039 5.55556 55.0039C5.83052 55.6968 6.09635 56.3806 6.35774 57.0529C9.05258 63.9844 11.2758 69.7029 18.1808 71.7539C26.5141 74.7539 37.4713 75.5039 46.9686 75.5039Z' fill='url(%23paint0_linear_85427_20827)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_85427_20827' x1='188.273' y1='75.5039' x2='188.273' y2='0.503906' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23054392'/%3E%3Cstop offset='0.685' stop-color='%232B62A7'/%3E%3Cstop offset='1' stop-color='%232B62A7'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      color: $light-blue-text;
      padding: 10px 20px 10px;
      font-size: 12px;
      line-height: 22px;
      text-decoration: none;
      transition: transform 0.2s ease;
      cursor: pointer;
      text-transform: capitalize !important;
      font-family: 'inter' !important;
      font-style: italic !important;

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='218' height='85' viewBox='0 0 218 85' fill='none'%3E%3Cpath d='M46.9697 83.5039H171.03C180.528 83.5039 191.486 83.1621 199.819 79.7947C206.637 77.0396 209.335 70.3002 212.444 61.5039C214.212 55.3304 217.394 41.2489 218 22.3917C217.98 21.9724 217.965 21.5123 217.949 21.02C217.826 17.3188 216.644 12.7953 213.969 9.08049C211.976 6.95596 209.115 6.14106 204.364 5.02947C197.211 3.58435 186.152 2.70866 174.061 2.50391H43.9394C31.8476 2.70866 20.789 3.58435 13.6364 5.02947C8.8854 6.14106 6.02417 6.95596 4.03055 9.08049C1.35595 12.7953 0.173568 17.3181 0.0513382 21.0193C0.035071 21.5119 0.0198692 21.9722 0 22.3917C0.606061 41.2489 3.78788 55.3304 5.55556 61.5039C8.66534 70.3002 11.3626 77.0396 18.1808 79.7947C26.5141 83.1621 37.4723 83.5039 46.9697 83.5039Z' fill='%234794DC'/%3E%3Cpath d='M49.9994 83.5041H46.9691C37.4717 83.5041 25.5051 82.4938 17.1717 79.0041C11.0156 76.426 8.89345 70.3823 6.68063 64.0805C6.44265 63.4028 6.20355 62.7218 5.95835 62.0421C4.15315 55.8213 0.554281 40.4951 0.0555253 21.7539C0.0334404 22.1204 0.0154716 22.467 0 22.7898C1.13461 46.9548 3.38608 56.2645 5.30303 62.754C5.47505 63.2349 5.64269 63.7063 5.80701 64.1685L5.80785 64.1708C8.70376 72.3152 10.5701 77.564 17.2171 80.2183C25.8029 83.6469 37.0921 84.504 46.8773 84.504H48V84.5078H168.75V84.504H171.123C180.908 84.504 192.197 83.6469 200.783 80.2183C207.43 77.564 209.296 72.3152 212.192 64.1708L212.193 64.1685L212.193 64.167C212.358 63.7053 212.525 63.2344 212.697 62.754C214.614 56.2645 216.865 46.9548 218 22.7898C217.985 22.467 217.967 22.1204 217.944 21.7539C217.446 40.4951 213.847 55.8213 212.042 62.0421C211.797 62.7209 211.558 63.4006 211.32 64.0774L211.319 64.0805C209.107 70.3823 206.984 76.426 200.828 79.0041C192.495 82.4938 180.528 83.5041 171.031 83.5041H168.001V83.5078H49.9994V83.5041Z' fill='%23032858'/%3E%3Cpath d='M46.9688 79.5039C37.4727 79.5039 26.5156 78.7539 18.1797 75.7539C11.3633 73.2988 9.16797 67.8398 6.05859 60.0039C4.29297 54.5039 0.605469 39.3047 0 22.5039C0.605469 39.3047 4.29297 51.5039 6.05859 57.0039C9.16797 64.8398 11.3633 70.2988 18.1797 72.7539C26.5156 75.7539 37.4727 76.5039 46.9688 76.5039H171.031C180.527 76.5039 191.484 75.7539 199.82 72.7539C206.637 70.2988 208.832 64.8398 211.941 57.0039C213.707 51.5039 217.395 39.3047 218 22.5039C217.395 39.3047 213.707 54.5039 211.941 60.0039C208.832 67.8398 206.637 73.2988 199.82 75.7539C191.484 78.7539 180.527 79.5039 171.031 79.5039H46.9688Z' fill='%237ABFFF'/%3E%3Cpath d='M46.9686 77.5039H171.031C180.529 77.5039 191.486 76.7539 199.819 73.7539C206.724 71.7029 208.947 65.9844 211.642 59.0529C211.904 58.3806 212.169 57.6968 212.444 57.0039C214.212 51.5039 217.394 38.804 218 22.004C217.98 21.6302 217.965 21.2201 217.949 20.7813C217.826 17.4838 217.644 12.5635 214.969 9.25396C212.976 7.36119 209.115 5.74428 204.364 4.75396C197.211 3.46648 186.152 2.68632 174.061 2.50391H43.9394C31.8476 2.68632 20.789 3.46648 13.6364 4.75396C8.8854 5.74428 5.02417 7.36119 3.03055 9.25396C0.355953 12.5635 0.173568 17.4838 0.0513382 20.7813C0.035071 21.2201 0.0198692 21.6302 0 22.004C0.606061 38.804 3.78788 51.5039 5.55556 57.0039C5.83052 57.6968 6.09635 58.3806 6.35774 59.0529C9.05258 65.9844 11.2758 71.7029 18.1808 73.7539C26.5141 76.7539 37.4713 77.5039 46.9686 77.5039Z' fill='url(%23paint0_linear_85427_20821)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_85427_20821' x1='188.273' y1='77.5039' x2='188.273' y2='2.50391' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23054392'/%3E%3Cstop offset='0.5' stop-color='%232B62A7'/%3E%3Cstop offset='1' stop-color='%23769FD2'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        text-decoration: none;
        color: $light-blue-text;
        transform: translateY(2px);
      }
    }
    .help-butt{
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }
}

.main-content, #main {
  margin: 28px 0 0 232px;
  transition: margin-left 0.3s ease;
}

body.sidebar-collapsed .main-content, body.sidebar-collapsed #main {
  margin-left: 80px;
}

.trp {
  &-shortcode{
    &-overlay {
      display: none !important;
    }

    &-switcher {
      padding: 0 !important;
      border: none !important;
      border-radius: 0 !important;
      background: none !important;
    }
  }

  &-current-language-item__wrapper {
    padding-right: 0 !important;

    svg {
      display: none;
    }
  }

  &-language-item {
    flex-flow: column;
    padding: 0 4px 8px !important;

    &-name {
      font-size: 12px !important;
      color: $light-blue-text !important;
      text-transform: capitalize !important;
      font-family: 'inter' !important;
      font-style: italic !important;
    }
  }
}